/* ================= HEADER ================= */
header {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}
.logo {
    display: flex;
    flex-direction: row;
    color: #404CCD;
    font-size: 12px;
    align-items: center;
    padding-left: 30px;
    font-family:sans-serif;
}

.logo img {
    height: 7vh;
    width: auto;
}

.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pingo{
    display: flex;
    background-color: purple;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: blue
  }





.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
    font-family: sans-serif;
}




/* ========================================== */





/* ================= MAIN ================= */
body {
    background-color: #F4F2FC;
}




/* ========================================== */





/* ================= FOOTER ================= */





/* ========================================== */
