html {
    scroll-behavior: smooth;
}
/* ================= HEADER ================= */
header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}
body {
    margin-top: 8vh;
    background-color: #F4F2FC;
    height: 100%;
    margin: 0;
}
.logo {
    display: flex;
    flex-direction: row;
    color: #404CCD;
    font-size: 12px;
    align-items: center;
    padding-left: 30px;
    font-family: sans-serif;
}

.logo img {
    height: 5vh;
    width: auto;
}

.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pingo{
    display: flex;
    background-color: purple;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: blue

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
    font-family: sans-serif;
}

/*
   realiza animação quando o cursor é apontado, vira uma "mãozinha"
*/
.navbar a {
    transition: transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}


.navbar a:hover {
    transform: scale(1.2);
    color: #404CCD;
}

.header-efeito {
    position: relative;
    padding: 20px;
    background: #fff;
}

.header-efeito .barra {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 0;
    animation: fadein 1.2s ease forwards; 
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}
/* ======================================== */





/* ================= MAIN ================= */

   /* ============== HOME ============== */
.image-container {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    margin-top: 80px;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100vw;
}

.texto-sobreposto {
    position: absolute;
    top: 35%;
    color: #fff;
    text-shadow: 6px 2px 4px #404CCD;
    font-size: 20px;
}

.texto-sobreposto h1 {
    position: absolute;
    /* left: 20px; */
    /* top: 240%; */
    margin: 16px 0px 16px 151px;
    font-size: 50px;

}

.texto-sobreposto h5 {
    position: absolute;
    top: 100px;
    margin: 16px 16px 0px 200px;
    background-color: #404CCD;
    width: 347px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.texto-sobreposto h3 {
    margin: 0px 0px 0px 99px;
    font-size: 25px;
}

/* animação do botão, faz com que o botão pisque e aumente de tamanho quando
o cursor passa por cima */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.botao {
    animation: blink 2.7s linear infinite;
    transition: transform 1s ease;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.2);
}

   /* ================================ */

   /* ========== INTRODUÇÃO ========== */

.introducao {               /*classe pai*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.texto {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    color: #404CCD;
}

.texto h1{
    font-size: 45px;
    margin: 0px 32px 29px 0px;
}

.texto h4 {
    color: #6B6969;
    font-size: 30px;
    font-weight: lighter;
    width: 578px;
    height: 180px;
    margin: 0px 100px 0px 76px;
}
.imgPc{
    width: 641px;
    height: 456px;
}

.barra2 {
    position: absolute;
    top: 800px;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 1;
    margin-top: 200px;
}

    /* ================================ */


/* ========================================== */





/* ================= FOOTER ================= */





/* ========================================== */
