/* ================= HEADER ================= */
header {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #404CCD;
    font-size: 12px;
    align-items: center;
    padding-left: 30px;
    font-family:sans-serif;
}

.logo img {
    height: 7vh;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
    font-family: sans-serif;
}




/* ========================================== */





/* ================= MAIN ================= */
body {
    background-color: #F4F2FC;
}




/* ========================================== */





/* ================= FOOTER ================= */





/* ========================================== */
