/* ================= HEADER ================= */
header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}
body {
    margin-top: 8vh;
}
.logo {
    display: flex;
    flex-direction: row;
    color: #404CCD;
    font-size: 12px;
    align-items: center;
    padding-left: 30px;
    font-family: sans-serif;
}

.logo img {
    height: 5vh;
    width: auto;
}

.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pingo{
    display: flex;
    background-color: purple;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: blue

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 100px;
    font-family: sans-serif;
}

/*
   realiza animação quando o cursor é apontado, vira uma "mãozinha"
*/
.navbar h3 {
    transition: transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}


.navbar h3:hover {
    transform: scale(1.2);
    color: #404CCD;
}

.header-efeito {
    position: relative;
    padding: 20px;
    background: #fff;
}

.header-efeito .barra {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #4f46e6;
    opacity: 0;
    animation: fadein 1.2s ease forwards; 
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}
/* ========================================== */





/* ================= MAIN ================= */

/* ============== HOME ============== */
body {
    background-color: #F4F2FC;
    height: 100%;
    margin: 0;
}

.image-container {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100vw;
}

.texto-sobreposto {
    position: absolute;
    top: 35%;
    left: 7%;
    color: #fff;
    text-shadow: 6px 2px 4px #404CCD;
    font-size: 18px;
}

.texto-sobreposto h1 {
    position: absolute;
    left: 13%;
    top: 240%;
    font-size: 40px;
}

.texto-sobreposto h5 {
    position: absolute;
    top: 600%;
    left: 20%;
    background-color: #404CCD;
    width: 15vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

/* animação do botão, faz com que o botão pisque e aumente de tamanho quando
o cursor passa por cima */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.botao {
    animation: blink 2.7s linear infinite;
    transition: transform 1s ease;
    cursor: pointer;
}

.botao:hover {
    transform: scale(1.2);
}

/* ========================================== */





/* ================= FOOTER ================= */





/* ========================================== */
