html {
    scroll-behavior: smooth;
}
/* ================= HEADER ================= */
body {                              /* estiliza o corpo da pagina */
    background-color: #F4F2FC;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.container {             /* estiliza a barra de navegação */
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.title {
    white-space: nowrap;
}

.logo {                /* estiliza o logo e o nome da empresa */
    display: flex;
    color: #404CCD;
    font-size: 20px;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.pingo{                     /* estiliza o ponto roxo acima do "i" de "Gestor Veícular" */
    display: flex;
    background-color: purple;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
}

.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.conjunto:hover .pingo{
    color: #EB0029;
    opacity: 1;
}

.conjunto:hover a {
    color: blue

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    padding-right: 0 5rem;
}

/*
   realiza animação quando o cursor é apontado, vira uma "mãozinha"
*/
.navbar a {
    transition: transform 0.5s ease, color 0.5s ease;
    cursor: pointer;
}


.navbar a:hover {
    transform: scale(1.2);
    color: #404CCD;
}

.header-efeito {
    position: relative;
    padding: 20px;
    background: #fff;
}

/* ======================================== */





/* ================= MAIN ================= */

   /* ============== HOME ============== */

/* Contêiner da imagem, usado para permitir texto sobreposto */

.image-container {
    position: relative;
    width: 100%;
}

/* Estilização da imagem: ocupa toda a largura e corta o excesso */
.image-container img {
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover; 
}

/* Bloco de texto que fica por cima da imagem */
.texto-sobreposto {
    position: absolute;
    top: 35%;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    text-shadow: 6px 2px 4px #404CCD;
    white-space: nowrap;
}


/* Estilo do título sobre a imagem */
.texto-sobreposto h1 {
    margin-bottom: 10px;
    font-size: 50px;

}

.texto-sobreposto h5 {
    margin-top: 15px;
    padding: 10px 20px;
    display: inline-block;
    background-color: #404CCD;
    width: 347px;
    height: 33px;
    align-items: center;
    justify-content: center;
    border-radius: 20px
}

.texto-sobreposto h3 {
    margin: 20px auto;
    font-size: 22px;
}

/* animação do botão, faz com que o botão pisque e aumente de tamanho quando
o cursor passa por cima */

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* aplica  o efeito d */
.botao {
    animation: blink 2.7s linear infinite;
    transition: transform 1s ease;
    cursor: pointer;
}
/* Aumenta o tamanho ao passar o mouse */
.botao:hover {
    transform: scale(1.2);
}

   /* ================================ */

   /* ========== INTRODUÇÃO ========== */

.introducao {               /*classe pai*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.texto {
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    color: #404CCD;
}

.texto h1{
    font-size: 45px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.texto h4 {
    color: #6B6969;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}
.imgPc{
    width: 100%;
    max-width: 500px;
    height: auto;
}

.barra2 {

    height: 2px;
    width: 100%;
    background: #a3a3a3;
    opacity: 1;
    margin: 40px 0;
}

    /* ================================ */


/* =========== RECURSOS =========== */
/* personalizar container principal*/
.recursos {
    display: flex;
    flex-wrap: wrap;
    gap: 9rem; /* espacamento entre os itens*/
    padding: 2vw; /* espaco ao redor do item dentro*/
    justify-content: center;/* alinhar itens*/
}

/* Estilo para cada div dentro do container .recursos */
.recursos div {
    width: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}
/*aumenta tamnaho quando passa o mouse*/
.recursos div:hover {
    transform: scale(1.2);
}

.recursos2 {
    display: flex;
    flex-wrap: wrap;
    gap: 9rem; /* espacamento entre os itens*/
    padding: 2vw; /* espaco ao redor do item dentro*/
    justify-content: center;/* alinhar itens*/
}

.tituloAzul{
    font-size: 25px;
    color: #404CCD;
}

.textoCinza{
    font-size: 15px;
    color: #4b4848;
    margin: 15px 0;
}

.imgMao{
    margin: 5px 0;
    width: 5vw;
    height: auto;

}

.recursos2 div {
    width: 300px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    text-align: center;
}

.recursos2 div:hover {
    transform: scale(1.2);
}

/*personaliza o botao do video*/
.botaovideo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404CCD;
    width: fit-content;
    height: 6vh;
    padding: 10px 20px;
    margin: 90px auto 0 auto; /* centraliza horizontalmente */
    margin-top: 90px;
    border-radius: 50px;
    color: #ffff;
    transition: transform 0.5s ease;
}
/*efeito no botao de video*/
.botaovideo:hover {
    transform: scale(1.2);
}


.barra3 {
    height: 2px;
    background: #a3a3a3;
    opacity: 1;
    margin: 40px 0;
}


/* ========== INFORMAÇÃO ========== */
.info {
    text-align: center;
    padding: 40px 20px;
}

.info h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.info h2 {
    color: #767373;
    line-height: 1.5;
    font-size: 25px;
    margin: 0 auto;
}

/* ========================================== */

/* ============ VIDEOS ============ */
.video-apresentacao {
    position: relative;
    width: 100%;
    margin-top: 60px;
}

.fundo {
    width: 100vw;
    height: auto;
}

.youtube {
    position: absolute;
    display: block;
    width: 10vw;
    height: auto;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulo {
    position: absolute;
    top: 50%;
    left: 30%;
    color:#fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font-size: 50px;
}

.titulo h2 {
    text-decoration: underline;
}

/* ================================ */

/* ======== DEMONSTRAÇÔES ========= */

.demonstracao {
    text-align: center;
    padding: 60px 0;
}
.demonstracao h1{
    font-size: 50px;
}

.demonstracao h2{
    color: #767373;
}


.selecao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px;
    justify-content: center;  
}

.selecao1 div {
    display: flex;
    width: 50vw;
    height: 35vh;
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
}

.selecao1 div:hover {
    transform: scale(1.2); /* efeito de ampliação quando o usuário passa o mouse sobre os cards */
}

.selecao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px;
    justify-content: center;
}

.selecao2 div {
    display: flex;
    width: 50vw;
    height: 35vh;
    align-items: center;
    transition: transform 1s ease;
    box-shadow: 10px 10px 10px #404CCD;
    justify-content: center;
    
}

.selecao2 div:hover {
    transform: scale(1.2);
}

.barra4 {
    height: 2px;
    background: #ccc;
    margin: 40px 0;
    width: 100%;
}

/* ================================ */

/* ============ PREÇOS ============ */
.caixa-grande {
    display: flex;
    flex-direction: column;
    /* margin-top: 200px; */
    justify-content: center;
}

.texto-criativo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-criativo h1 {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 25px;
    color:#767373;
    padding: 15px;
}

.caixa-media {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.texto-criativo p{
    font-size: 35px;
    font-weight: bold;
}

.ladoA {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 60vh;
    box-shadow: 10px 10px 10px #404CCD;
    border: 1px solid #404CCD;
    border-radius: 10px;
    gap: 50px;
}

.ladoA img {
    margin-top: 60px;
    width: 8vw;
    height: auto;
}

.ladoA h3 {
    font-size: 27px;
    width: 30vw;
    height: auto;
    text-align: center;
    font-weight: 500;
    color: #767373;
}

.ladoA h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F2FC;
    background-color: #404CCD;
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    transition: transform 1s ease, box-shadow 1.2s ease;
}

.ladoA h2:hover {
    transform: scale(1.2);
    rotate: -4deg;
}

.ladoB {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 60vh;
    box-shadow: 10px 10px 10px #404CCD;
    border: 1px solid #404CCD;
    border-radius: 10px;
    gap: 50px;
}

.ladoB img {
    margin-top: 60px;
    width: 10vw;
    height: auto;
}

.ladoB h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F2FC;
    background-color: #404CCD;
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    transition: transform 1s ease, box-shadow 1.2s ease;
}

.ladoB h2:hover {
    transform: scale(1.2);
    rotate: 4deg;
}

.ladoB h3 {
    font-size: 27px;
    width: 30vw;
    height: auto;
    font-weight: 500;    
    text-align: center;
    color: #767373;

}

/* ================================ */

/* =========== CONTATO ============ */
.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    font-family: sans-serif;
}

.contato h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.contato h3 {
    width: 25vw;
    text-align: center;
    line-height: 1.5;
    color: #767373;
}

.number {
    display: flex;
    background-color: #404CCD;
    width: 15vw;
    height: 6vh;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 810px;
    margin-top: 70px;
    margin-bottom: 150px;
    font-family: sans-serif;
    color: #fff;
    border-radius: 50px;
    transition: transform 1s ease;
}

.number:hover {
    transform: scale(1.2);
}

/* ================================ */


/* ================= FOOTER ================= */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color:#404CCD;
    color: #fff;
    height: 10vh;
}

footer h1 {
    margin-left: 10px;
    margin-right: 30px;
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

footer img {
    width: 50px;
    height: auto;
}
/* ========================================== */



/* ======== DEMONSTRAÇÔES ========= */
.demonstracao {

    text-align: center;
    padding: 60px 0;
}

.demonstracao h1 {
    font-size: 50px;
    /* margin-bottom: 30px; */
}

.demonstracao h2 {
    color: #767373;
}


.selecao1 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px;
    justify-content: center; /*centraliza verticalmente os filho*/
}

.selecao1 div {
    display: flex;
    width: 50vw;
    height: 35vh;
    /* flex-direction: column; */
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    justify-content: center;
}

.selecao1 div:hover {
    transform: scale(1.2);
}

.selecao2 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 40px;  /* Espaçamento interno do container */
    justify-content: center;
}

.selecao2 div {
    display: flex;
    width: 50vw;
    height: 35vh;
    /* flex-direction: column; */
    align-items: center;
    box-shadow: 10px 10px 10px #404CCD;
    transition: transform 1s ease;
    justify-content: center;
    /* text-align: center; */
}

.selecao2 div:hover {
    transform: scale(1.2);
}
/**/
.barra4 {
    height: 2px;
    background: #ccc;
    margin: 40px 0;
    width: 100%;
}

/* ================================ */